body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    max-width: 90%; /* Increased max width to use more screen space */
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px;
}

.row:nth-child(odd) {
    background-color: #f2f2f2;
}

.box {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 10px;
}

.copy-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #0056b3;
}

.copy-btn:disabled {
    background-color: #28a745;
}

.copy-btn:disabled::after {
    content: "✔"; /* Checkmark symbol */
    margin-left: 5px;
}
